.sider 
    .inner-menu 
        ul 
            li 
                a(href=`/${prefixAdmin}/dashboard`) Tổng quan
            li 
                a(href=`/${prefixAdmin}/topics`) Quản lý chủ đê
            li 
                a(href=`/${prefixAdmin}/songs`) Quản lý bài hát
            li 
                a(href=`/${prefixAdmin}/singes`) Quản lý ca sỹ
            li 
                a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
            li 
                a(href=`/${prefixAdmin}/accounts`) Tài khoản Admin
            li 
                a(href=`/${prefixAdmin}/users`) Tài khoản User
            li 
                a(href=`/${prefixAdmin}/settings/general`) Cài đặt chung
            li 
                a(href=`/topics`) Quay lại 